* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.navigation {
  height: 55px;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
h1 {
  font-size: 24px;
  color: rgb(173, 114, 229);
  text-shadow: #f26a6a 0.3px 0.3px 0.4px;
  font-style: italic;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 30px;
}
#search {
  height: 35px;
  width: 40%;
  margin-left: 9.6%;
  margin-right: 18px;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  border-radius: 15px;
  padding-left: 10px;
}

#help-button {
  height: 40px;
  width: 90px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin-left: auto;
}
#user {
  height: 40px;
  width: 55px;
  font-size: 32px;
  border: 2px solid black;
  border-radius: 15px;
  margin-left: auto;
}
.supersystem {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.system {
  height: 300px;
  width: 500px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 9px;
}
h2 {
  font-size: 34px;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.student {
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
  padding: 9px 9px 9px 9px;
}
#text {
  height: 25px;
  width: 300px;
  border: 2px solid black;
  border-radius: 15px;
  padding-left: 8px;
}
.studentID {
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
  padding: 9px 9px 9px 9px;
}
#number {
  height: 25px;
  width: 300px;
  border: 2px solid black;
  border-radius: 15px;
  padding-left: 8px;
}

.marks {
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
  padding: 9px 9px 9px 9px;
}
#marks {
  height: 25px;
  width: 300px;
  border: 2px solid black;
  border-radius: 15px;
  padding-left: 8px;
}

#submit {
  height: 30px;
  width: 90px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 9px;
  margin-left: 20px;
  margin-top: 20px;
}
#submit:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}
.sheetarea {
  width: 90%;
  margin: 40px auto;
}

/* table base */
#studentTable {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

/* heading */
#studentTable thead {
  background-color: #333;
  color: white;
}

#studentTable th {
  padding: 12px;
  font-size: 20px;
  text-align: center;
}

/* table data cells */
#studentTable td {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* row hover effect */
#studentTable tbody tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
/* alternate row colors */
